<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.net.mapper.DnsMapper">

    <resultMap id="BaseResultMap" type="com.example.net.domain.Dns">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="dnscode" column="dnscode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,dnscode
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from dns
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from dns
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.net.domain.Dns" useGeneratedKeys="true">
        insert into dns
        ( id,url,dnscode
        )
        values (#{id,jdbcType=INTEGER},#{url,jdbcType=VARCHAR},#{dnscode,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.net.domain.Dns" useGeneratedKeys="true">
        insert into dns
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="url != null">url,</if>
                <if test="dnscode != null">dnscode,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="url != null">#{url,jdbcType=VARCHAR},</if>
                <if test="dnscode != null">#{dnscode,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.net.domain.Dns">
        update dns
        <set>
                <if test="url != null">
                    url = #{url,jdbcType=VARCHAR},
                </if>
                <if test="dnscode != null">
                    dnscode = #{dnscode,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.net.domain.Dns">
        update dns
        set 
            url =  #{url,jdbcType=VARCHAR},
            dnscode =  #{dnscode,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
