<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.net.mapper.MyDnsMapper">
    <select id="queryDns" resultType="com.example.net.domain.Dns">
        SELECT * FROM dns ORDER BY id DESC ;
    </select>
    <select id="queryDns1" resultType="com.example.net.domain.Dns">
        SELECT * FROM dns where url=#{url} order by id desc limit 1 ;
    </select>
    <insert id="insertDns" parameterType="com.example.net.domain.Dns">
        insert into dns (url,dnscode) values (#{url} ,#{dnscode})
    </insert>
</mapper>